*{
  margin:0;
  padding:0;
}

.header {
  width:100%;
  height:10%;
  background-color: black;
  display:flex;
  align-items:center;
  justify-content:center;
}
.logo{
  width:25%;
  height:100%;
  background-color:black;
  justify:center;
}
.logo a{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}

.logo a img{
  width:auto;
  height:auto;
}

.menu {
  width: 75%;
  height: 100%;
  background-color: green;
}

.menu .menubar {
  height: 100%;
  width: 100%; 
}

.menu .menubar ul {
  width: 90%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.menu .menubar ul li {
  list-style: none;
  padding-bottom: 3%;
  postion:relative;
  height:100%;
  display:flex;
  align-item:center;
}

.menu .menubar ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  height:100%;
  align-items:center;
  justify-content:center;
  position: static !important;
}

.menu .mobilebar {
  height: 100%;
  width: 0%;
}

.menu .menubar ul li .submenu {
  display: none;
  position: absolute;
  top:100%;
  left:50%;
  transform: translatex(-50%);
  background: magenta;
  max-width:100;
  border: 1px solid black;
  width: 120px;
  height: auto;
  flex-direction:column;
  padding:5px 0;
  z-index: 10;
}

.menu .menubar ul li .submenu li{
  padding:8px;
  list-style:none;
  padding-bottom: 20%;
}

.menu .menubar ul li .submenu li a{
    font-size:16px;
    color: white;
}

.menu .menubar ul li:hover .submenu {
  display: block;
}
.menu .menubar ul li.lastsub.submenu{
  right:auto;
}
.menu .menubar ul li.lastsub{
  padding-right:50px;
}

.menu .menubar ul .underline_current > a {
    text-decoration: underline;
    text-decoration-color: red;
}
