body{
  margin:0px;
}
.header{
  margin:0px;
  height: 10%;
  width:100%;
background-color:green;
  display: flex;
}
.logo{
width:25%;
  flex:0015em;
 background-color:blue;
}
.logo a {
  width:100%;
  height:100%;
  display:flex;
   justify-content:center;  
}
.logo a img{
  width: auto;
  height: auto;

}

.menu{
  flex:1;
  width:75%;
  heiht:100%;
  background-color:green;
  text-color:pink;
  
}

 .navbar {
   width:100%;
   height:100%;
   display:flex;
}

.navbar ul  {
  margin:0;
  padding:0;
  display: flex;
  width:100%;
  height:100%;
  list-style:none;
  align-items:center;
  justify-content:space-around;
  font-size:20px;
}
.navbar ul li{
  padding:7px;
}

.navbar ul li a{
  text-decoration:none;
  color:black;
  font-size:20px;
  
  
}
  
.mobilebar {
    width:0px;
} 

@media(max-widhth:576px){
  .header{
    height:6%;
  }
  
}
