* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: white;
  display: flex;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  padding: 100px;
}

.logo {
  width: 25%;
  height: 100%;
  background-color: #98FF98;
}
.logo a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  height: 100%;
  background-color: green;
}

.menu .menubar {
  height: 100%;
  width: 100%;
}

.menu .menubar ul {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu .menubar ul li {
  position: relative;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu .menubar ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .mobilebar {
  height: 100%;
  width: 0%;
}

.menu .menubar ul li .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: blue;
  max-width: 100px;
  border: 1px solid black;
  width: 200px;
  flex-direction: column;
  padding: 5px 0;
  z-index: 10;
}

.menu .menubar ul li .submenu li {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 8px;
  list-style: none;
  align-items: center;
}

.menu .menubar ul li .submenu li a {
  font-size: 1vw;
  color: white;
  text-align: center;
  display: inline-block;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu .menubar ul li:hover .submenu {
  display: block;
}

/* Mobile Styles */
@media (max-width: 576px) {
  .header {
    height: 5%;
    background: white;
  }

  .header .logo {
    width: 80%;
    background-color: white;
  }

  .header .logo a {
    width: 50%;
    background-color: white;
    justify-content: flex-start;
    padding-left: 20%;
  }

  .header .menu {
    width: 20%;
    background-color: white;
  }

  .header .menu .menubar {
    width: 0%;
    height: 0%;
  }

  .header .menu .mobilebar {
    width: 100%;
    height: 100%;
  }

  .header .menu .mobilebar .hamburger {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: green;
  }

  .header .menu .mobilebar .hamburger span {
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 7px 0 white, 0 -7px 0 white;
  }

  .header .menu .mobile-open .menubar ul {
    display: flex;
    background: grey;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    z-index: 9;
    flex-direction: column;
  }

  form{
  height:60%;
  width:40%;
  background-color: #34eba4;
  color: #000;
}
form label{
  line-height:1;
  font-size: 3vw;
  
}
form input {
    width: 50%;
    height: 5vh;
    border: none;
}
form h2 {
  height:5vh;
  width: 80%;
  font-size: 2vw;
  text-align: center;
}
form button {
  height:4vh;
  width: 20%;
  font-size:1vw;
  border: none;
}form h1 {
    font-size:16px;
  }


  .header .menu .menubar ul {
    height: auto;
    width: 100%;
    display: none;
    flex-direction: column;
    background: grey;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    z-index: 9;
  }

  .header .menu .menubar ul li {
    padding: 0.5rem;
  }

  .header .menu .menubar ul li a {
    padding: 1rem;
  }

  .header .menu .menubar ul li .submenu {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: none !important;
    display: none;
  }

  .header .menu .menubar ul li.open-submenu .submenu {
    display: block;
  }
}
form h1 {
    font-size:16px;
  }
}
