body{
  margin:0px;
}
.header{
  margin:0px;
  height: 7%;
background-color:red;
  display: flex;
}
.logo{
width:100%;
  background-color:blue;
}
.logo a {
  width:100%;
  height:100%;
  text-align:centre;
  /* justify-content:centre; */
}
.logo a img{
  width: auto;
  height: auto;
}
.menu{
  width: 75%;
  background-color: black;
}
@media(max-width: 576px){
  .header {
    flex-direction: row;
    height: 5%;
    background-color: blue;
  }
}

