*{
  margin:0;
  padding:0;
}

.header {
  width:100%;
  height:10vh;
  background-color: blue;
  display:flex;
}
.logo{
  width:25%;
  background-color:black;
}
.logo a{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}

.logo a img{
  width:auto;
  height:auto;
}

.menu{
 width:75%;
 background-colour:blue;
 display:flex;

}
.nav{
  width:100%;
  hight:100%;
}

.nav ul{ 
  height:100%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-around;
}

.nav ul li{
 list-style-type:none;
 padding-bottom:2%;
}

.nav ul li a{
  text-decoration:none;
  color:yellow;
  font-size:1.5vw;
  position:absolute;
  }
.menu .mobilebar{
  height:100%;
  width:0%;
}
.submenu{
  display:none;
  postion: absolute;
  background-color:green;
  min-width:120px;
  border:1px  soild brown;
  padding-left:5px;
  z-index:10;
}
.submenu ul{
  list-style: none;
  padding:5px  10px;
  text-align:left;
}
.submenu ul li{
  list-style:none;
  padding: 5px 10px;
  text-align:left;
}
.submenu ul li a{
  color:green;
font-size:1vw;
  text-decoration:none;
  postion:relative;
}
.menu li:hover .submenu {
  display: block;
}


  
  


