*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    width: 100vw;
    height: 2rem;
    display: flex;
    background-color: darkblue;


}
.logo{
    width: 25%;
    height:2rem;
   
}
.logo a{
    width: 100%;
    height:2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
.menu{
    width: 75%;
    height: 100%;
    display: flex;
    
    


}
.navBar{
    flex:1;
    display: flex;    
    
}
.menu .navBar ul{

      display: flex;
      flex: 1;;
    justify-content: space-around;
    align-items: center;
   text-decoration: none;
   list-style: none;
   gap: 20px;
}
.navBar ul li{
    width: 100%;
    height: 1rem;
    display: flex;    
}

.navBar ul li a{
    text-decoration: none;
    font-size:1rem;
    flex: 1;
    color:white;   
}
