body{
  margin:0px;
}
.header{
  margin:0px;
  height: 10%;
  width:100%;
background-color:green;
  display: flex;
}
.logo{
width:25%;
 background-color:blue;
}
.logo a {
  width:100%;
  height:100%;
  display:flex;
   justify-content:center;  
}
.logo a img{
  width: auto;
  height: auto;
}
width: 75%;
  background-color: aqua;
  text-color:white;
  display: flex;
}
.menu{
  width:75%;
  background-color: yellow;
  display: flex;
}

 .navbar {
   display:flex;
   text-decoration:none;
}

.navbar ul  {
  display: flex;
  text-decoration:none;
  list-style:none;
}

.navbar ul li{
  text-decoration:none;
}
  
.navbar a{
  text-decoration:none;
}

.mobilebar {
} 

@media(max-widhth:576px){
  .header{
    height:6%;
  }
}
