body{
  margin:0px;
}
.header{
  margin:0px;
  height: 7%;
background-color:green;
  display: flex;
}
.logo{
width:25%;
 background-color:blue;
}
.logo a {
  width:100%;
  height:100%;
  /* justify-content:centre;  */
  /* align-items:centre; */

}
.logo a img{
  width: auto;
  height: auto;
}

@media(max-widhth:576px){
  .header{
    height:6%;
  }
