body{
  margin:0px;
}
.header{
  margin:0px;
  height: 7%;
background-color:red;
  display: flex;
}
@media(max-width: 576px){
  .header {
    flex-direction: row;
    height: 5%;
    background-color: blue;
  }
}

