*{
  margin:0;
  padding:0;
}
.header{
  height:10%;
  width:100%;
  backgroud-color:aqua;
  display:flex;
  
}
.logo{
  width:25%;
}
.logo a{
  width:50%;
  height:100%;
  display:flex;
  justify-content:center;
}
.logo a img{
  height:auto;
  width:auto;
}
.menu{
  width:75%;
  background-color:red;
  display:flex;
}

.navBar {
    height: 100%;
    width: 100%;
    display: flex;
}
.navBar ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
   list-style: none;
   font-size: ;  
}
.navBar ul li{
    padding: 7px;
}
.navBar ul li a{
   text-decoration: none;
  
 
}
  

  /* @media (max-width:576px){ 
  .menu{
    background-color:blue;
  }
}  */
