body{
  margin:0px;
}
.header{
  margin:0px;
  height:7%;
background-color:red;
  display:flex;
}
@media(max-width:576px){
  flex-direction: row;
  .header{
    height:5%;
background-color:blue;
  }
}
